<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
				<div class="leftbox">
					<img src="https://github.com/xingcheg/xingcheg.github.io/raw/master/img/logo.jpg" alt="photo" style="width:150px;height:200px;">
					<p>Xingche Guo </p>
					<a>4th year statistics Ph.D student at Iowa State University</a>
				</div>
				<div class="rightbox">
					{{ content }}
				</div>
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:gxcznb@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/xingcheg">Github</a></li>
				</ul>
			</footer>
		</body>
	</html>
