<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/cv">CV</a></li>
		        	<li><a href="/news">News</a></li>
	    		</ul>
			</nav>
			<div class="container">
				<div class="leftbox">
					<img src="https://github.com/xingcheg/xingcheg.github.io/raw/master/img/logo.jpg" alt="photo" style="width:150px;height:200px;">
					<p>Xingche Guo </p>
					<p style="font-size:80%;"> Ph.D student | Statistics <br>
					Iowa State University <br><br>
					Address: 2215 Snedecor Hall, <br> 
					2438 Osborn Drive, Ames, IA <br><br>
					Email: xguo@iastate.edu</p>

					
				</div>
				<div class="rightbox">
					{{ content }}
				</div>
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:gxcznb@gmail.com"><i class="fa fa-envelope" style="font-size:24px"></i></a></li>
	        		<li><a href="https://github.com/xingcheg"><i class="fa fa-github" style="font-size:24px"></i></a></li>
				<li><a href="https://www.linkedin.com/in/xingche-guo-506164143"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a></li>
				</ul>
			</footer>
		</body>
	</html>
